<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/normalize.css" type="text/css" />
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>News Scraper</title>
	</head>
	<body>
		<header>
			<div id="headerTitle">Mongo Scraper</div>
			<ul id="mainMenu">
				<li id="home_link" class="menuLink">Home</li>
				<li id="saved_link" class="menuLink">Saved Articles</li>
				<li id="scrape_link" class="menuLink">Scrape New Articles</li>
			</ul>
		</header>
		{{{ body }}}
	</body>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/assets/js/app.js"></script>
</html>
