* {
  box-sizing: border-box;
  margin: 0;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;  
}	

html, body{
	top: 0px;
	margin: 0px;
	padding: 0px;	
	background-color: #9090a7;
}

ul{
	-webkit-padding-start: 0px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;	
}

li{
	list-style: none;
}



header{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #000;
	color: #fff;
	height: 55px;
	z-index: 100;
}

#headerTitle{
	position: relative;
	display: inline;
	font-size: 28px;
	line-height: 55px;
	padding: 0px 35px;
}

ul#mainMenu{
    position: relative;
    display: inline-flex;
    line-height: 55px;
    height: 55px;
    top: -5px;
    border-left: 1px solid #656565;
}

li.menuLink{
	position: relative;
	display: inline;
	padding: 0px 25px;
	background-color: #333;
	height: 55px;
	line-height: 55px;
	cursor: pointer;
	border-right: 1px solid #656565;
	transition: background-color 0.45s;
}
li.menuLink:hover{
	background-color: #565656;
}
li.munilink.active{
	background-color: #797979;
}



#mainContent{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	margin: 0px;
	padding: 40px 0px 60px 0px; 
}



#heroHolder{
	position: relative;
	width: 100%;
    background: url(/assets/img/newsHeaderImg.jpg) no-repeat center center fixed;
    background-size: cover !important;
}

#pageTitle{
	position: relative;
	font-size: 4em;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 75px 0px 25px 0px;
	text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
}

#pageCaption{
	position: relative;
	font-size: 1.8em;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0px 0px 65px 0px;
	text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
}


ul#articlesHolder{
	position: relative;
	width: 90%;
	max-width: 950px;
	left: 0%;
	right: 0%;
	margin: 0% auto;
}

li.article{
	width: 100%;
	background-color: #ccc;
	padding: 15px;
	margin: 12px 0px;
	border: 1px solid #777;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.45);
	transition: background-color 2s;
}
li.article.saved{
	background-color: rgba(153, 169, 154, 1);
}

li.noRecords{
	background-color: #fb5100;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #000;
	line-height: 75px;
	line-height: 75px;
	border: 1px solid #000;
}

.articleImg{
	float: left;
	border: 1px solid #d6d6d6;
    box-shadow: -2px -2px 2px rgba(0,0,0,0.15);
    margin-bottom: 5px;
}


.articleCopy{
	position: relative;
    left: 15px;
    padding-right: 15px;
    padding-top: 7px;
}
.articleCopy a{
	color: #000;
	font-weight: bold;		
}

ul.buttons{
	clear: both;
}

.button{
	/*background-color: #f00;*/
	border-radius: 2px;
	padding: 4px 15px;
	text-align: center;
	margin: 5px 0px;
    margin-right: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.45);	
	display: inline-block;
	cursor: pointer;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f6f8f9+0,e5ebee+50,d7dee3+51,f5f7f9+100;White+Gloss */
	background: rgb(246,248,249); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	transition: background 0.5s;
}
.button:hover{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

	color: #fff;	
}


.savedAlready{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
	background: rgb(157,213,58) !important; /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ) !important; /* IE6-9 */
	color: #000 !important;
	transition: background 1s;
}




#commentsModal{
	position: fixed;
    width: 80%;
    max-width: 650px;
    max-height: 80vh;
    display: none;
    z-index: 500;
    top: 50%;
    transform: translateY(-50%);
    left: 0%;
    right: 0%;
    margin: 0 auto;
    padding: 25px;
    background-color: rgba(255,255,255,0.95);
    min-height: 250px;
    border: #616161 solid 1px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.35);
}

#commentsHolder{
	margin-top: 20px;
	overflow: auto;
}

#commentsHolder .noRecords{
	margin-top: 15px;
	line-height: 40px;
}

#closeModal{
    position: absolute;
    right: 15px;
    top: 9px;
    font-family: cursive;
    font-weight: bold;
    font-size: 24px;	
    cursor: pointer;
    padding: 4px 11px;

}

li.comment{
	background-color: #d4d4d4;
	padding:10px 10px;
	margin: 15px 0px;
	min-height: 50px;
}

.comment .copy{
	position: relative;	
}

.comment .copy h5, .comment .copy p{
	width: calc(100% - 90px);
}

#commentsModal h4{
    line-height: 40px;
    margin-top: 15px;
    width: 100%;
    border-top: 1px dashed #969696;	
}

input[type=text], select, textarea {
	width: 100%;
	margin: 15px 0px;
	padding: 5px;
	    border: #969696 1px dashed;
}


.deleteComment{
	position: absolute;
	display: inline;
	float: right;
	padding: 7px 10px;
	background-color: aqua;
	border-radius: 4px;	
	margin-top: 0px;
	top: 50%;
	right: 5px;
	transform: translateY(-50%);
}


@media screen and (max-width: 756px) {
	
	header{
		height: auto;
	}

	#mainMenu{
		position: absolute !important;
		display: flex !important;
		width: 100% !important;
		top: 55px !important;
	}

	.menuLink{
	    width: 33.33%; 
	    text-align: center;
	    height: 40px !important;
	    line-height: 40px !important;	  
	    overflow: hidden;  
	}

	#pageTitle{
		font-size: 3em !important;	
		padding: 75px 0px 5px 0px !important;
	}

	#pageCaption{
		font-size: 1.5em !important;
		padding: 0px 0px 35px 0px !important;
	}
}

